REFOP_AUTH_CLIENT_ID=<replace-with-auth-id>
REFOP_AUTH_CLIENT_SECRET=<replace-with-auth-secret>
REFOP_AUTH_CLIENT_TOKENPATH=<https:replace-with-auth-tokenpath>

FRONTEND_BUILD_CONFIG=development # or production