.date-ranges-info {
  app-translated-text-field {
    --translated-text-container-padding: 0;
    --translated-text-container-margin: 0;
  }

  app-date-range-field {
    --date-range-container-padding: 0.25rem;
    --date-range-container-margin: 0;
  }
}
