<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title
      >{{ funder().name[0].text || funder().name[1].text }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="funder-details-grid">
      @for (detail of funderDetails(); track detail) {
        <div class="detail-item">
          <div class="detail-content">
            <span class="detail-label">{{ detail.label }}</span>
            <span class="detail-value">{{ detail.value }}</span>
          </div>
        </div>
      }
    </div>
    @if (!funderDetails().length) {
      <div class="no-data">
        {{ FUNDER_DETAILS_CONSTANTS.NO_FUNDER_DETAILS }}
      </div>
    }
  </mat-card-content>

  <mat-card-actions class="action-section">
    <button
      mat-stroked-button
      class="form-item-button"
      [routerLink]="['/', ROUTER_LINKS.INSTITUTIONS, ROUTER_LINKS.FUNDERS]"
    >
      <mat-icon>arrow_back</mat-icon>
      {{ BUTTON_LABELS.BACK }}
    </button>
    <span class="spacer"></span>
    @if (permissions().canEdit) {
      <button
        mat-stroked-button
        class="form-item-button"
        [routerLink]="ROUTER_LINKS.EDIT"
      >
        <mat-icon>edit</mat-icon>
        {{ BUTTON_LABELS.EDIT }}
      </button>
    }
  </mat-card-actions>
</mat-card>
