$main-color-darker: var(--main-color-darker);
$main-color: var(--main-color);
$main-color-contrast: var(--main-color-contrast);
$secondary-color: var(--secondary-color);
$accent-color: var(--secondary-color);
$hover-color: var(--background-color);
