####################
#### JIRA ENV Vars
####################
_DEV_FUNDIFY_TICKETING_JIRA_AUTH_USER_EMAIL=addyouremail
_DEV_FUNDIFY_TICKETING_JIRA_AUTH_API_TOKEN=addyourtoken
####################
#### External Funding Sync Settings
####################
_DEV_FUNDIFY_EXTERNAL_FUNDINGS_SYNC_ENABLED=false
####################
#### External Funding REST Clients Credentials
####################
_DEV_FUNDIFY_EXTERNAL_FUNDINGS_DATA_PROVIDERS_FWF_TEST_CREDENTIALS_ID=secret
_DEV_FUNDIFY_EXTERNAL_FUNDINGS_DATA_PROVIDERS_FWF_TEST_CREDENTIALS_SECRET=secret
_DEV_FUNDIFY_EXTERNAL_FUNDINGS_DATA_PROVIDERS_FWF_CREDENTIALS_ID=secret
_DEV_FUNDIFY_EXTERNAL_FUNDINGS_DATA_PROVIDERS_FWF_CREDENTIALS_SECRET=secret