.vocabulary-form {
  .input-container {
    display: flex;
    margin: 0.5rem 0.5rem 0;

    .search-field {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      margin-right: 0.5rem;
    }

    .form-button {
      margin-top: 0.4rem;
      display: flex;
      align-items: center;
    }
  }
  .empty-selection {
    font-style: italic;
    color: #666;
    margin: 0.6rem;
  }

  .chip-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
