@use '../../node_modules/@angular/material/index' as mat;

$light-primary-text: white;
$dark-primary-text: rgba(black, 0.87);

$custom-primary-color: (
  50: #e0edf3,
  100: #b3d1e0,
  200: #80b3cc,
  300: #4d94b8,
  400: #3284ad,
  500: #006699,
  600: #005e91,
  700: #084f72,
  800: #00497c,
  900: #00386b,
  A100: #9ac6ff,
  A200: #67aaff,
  A400: #348dff,
  A700: #1a7fff,
  background: #f5f5f5,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
    background: $dark-primary-text,
  ),
);

$custom-accent-color: (
  50: #e7e7e7,
  100: #c3c3c3,
  300: #737373,
  400: #555555,
  500: #373737,
  600: #313131,
  700: #2a2a2a,
  800: #232323,
  900: #161616,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$custom-success-color: (
  50: #eff3e4,
  100: #eff3e4,
  200: #daedaf,
  300: #bed48a,
  400: #bed48a,
  500: #5c8006,
  600: #5c8006,
  700: #5c8006,
  800: #5c8006,
  900: #5c8006,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-warn-color: (
  50: #e18d8d,
  100: #e18d8d,
  200: #da4848,
  300: #da4848,
  400: #da4848,
  500: #de0606,
  600: #de0606,
  700: #de0606,
  800: #de0606,
  900: #de0606,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
