@if (program$ | async; as program) {
  @if (activeView$ | async; as activeView) {
    @if (activeView === 'edit') {
      <div>
        <app-program-detail-edit
          [program]="program"
          (saveAsDraft)="saveAsDraft($event)"
          (publish)="publish($event)"
          (back)="goBack()"
          (preview)="goTo($event)"
        ></app-program-detail-edit>
      </div>
    }
    @if (activeView === 'preview') {
      <div>
        <app-program-detail-preview
          [program]="program"
          (publish)="publish($event)"
          (edit)="goTo($event)"
          (back)="goBack()"
        ></app-program-detail-preview>
      </div>
    }
  }
} @else {
  <mat-spinner></mat-spinner>
}
