<app-generic-details-container>
  <container-header>
    <mat-card-title>{{ USER_PERMISSIONS_CONSTANTS.TITLE }}</mat-card-title>
  </container-header>
  <container-content>
    <form [formGroup]="detailsForm">
      <div class="flex flex-row gap-4">
        <app-search-select
          formControlName="userId"
          [options]="userOptions()"
          [required]="true"
          [multiSelect]="false"
          placeholder="Search by email*"
        />
        <app-select-field
          formControlName="roles"
          [textLabel]="USER_PERMISSIONS_CONSTANTS.ROLES_LABEL"
          [options]="USER_ROLE_OPTIONS"
          [required]="true"
          [multiple]="true"
        />
        <app-text-field
          formControlName="affiliationId"
          [textLabel]="USER_PERMISSIONS_CONSTANTS.AFFILIATION_ID_LABEL"
          [placeholder]="USER_PERMISSIONS_CONSTANTS.AFFILIATION_ID_PLACEHOLDER"
          [required]="true"
        />
      </div>
    </form>
  </container-content>
  <container-actions class="flex flex-row w-full justify-between p-1 m-2">
    <button mat-stroked-button class="form-item-button" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
      {{ BUTTON_LABELS.BACK }}
    </button>
    <div class="spacer"></div>
    <button
      mat-raised-button
      class="submit-button form-item-button"
      color="primary"
      type="submit"
      [disabled]="!formValidSignal()"
      (click)="onSave()"
    >
      {{ BUTTON_LABELS.SUBMIT }}
    </button>
  </container-actions>
</app-generic-details-container>
