@use '@angular/material' as mat;
@use '../../../../styles/colors' as col;

.subject-selector {
  .search-field {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0.5rem 0;
  }

  .subject-table {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 0.5rem;

    .mat-mdc-row {
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.02);
      }
      &.hidden {
        display: none;
      }
    }
  }
}
