<div class="page-container">
  <app-top-navbar [tabs]="FUNDING_TABS"></app-top-navbar>
  <mat-card appearance="outlined" class="table-card">
    <mat-card-content>
      <div class="controls-container">
        <div class="search-container">
          <mat-form-field>
            <mat-label>{{ PROGRAMS_CONSTANTS.SEARCH_FIELD_LABEL }}</mat-label>
            <input
              matInput
              (keyup)="changeFilterValue($event)"
              [placeholder]="PROGRAMS_CONSTANTS.SEARCH_FIELD_PLACEHOLDER"
            />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <mat-slide-toggle
            [checked]="hideClosedPrograms"
            (change)="toggleHideClosedPrograms($event)"
            color="primary"
          >
            hide closed programs
          </mat-slide-toggle>
        </div>
        <div class="action-container">
          @if (authService.roles().includes(UserRoleEnum.FUNDER)) {
            <button
              mat-raised-button
              class="form-item-button"
              color="primary"
              [routerLink]="['new']"
            >
              <mat-icon>add</mat-icon>
              {{ PROGRAMS_CONSTANTS.ADD_BUTTON_LABEL }}
            </button>
          }
        </div>
      </div>
      <mat-table [dataSource]="dataSource" matSort class="programs-table">
        @for (column of PROGRAMS_CONSTANTS.TABLE_COLUMNS; track column) {
          <ng-container [matColumnDef]="column.field">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ column.header }}</mat-header-cell
            >
            <mat-cell *matCellDef="let program">
              {{ program | displayProgramField: column.field }}</mat-cell
            >
          </ng-container>
        }
        <ng-container matColumnDef="menu">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let program">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="[program.id]">
                <mat-icon>visibility</mat-icon>
                <span>{{ BUTTON_LABELS.VIEW }}</span>
              </button>
              <button
                mat-menu-item
                [routerLink]="[program.id, 'edit']"
                [disabled]="
                  !this.permissionService.canEdit(
                    program.origin,
                    program.status,
                    program.funder?.id
                  )
                "
              >
                <mat-icon>edit</mat-icon>
                <span>{{ BUTTON_LABELS.EDIT }}</span>
              </button>
              <button
                mat-menu-item
                [disabled]="
                  !this.permissionService.canDelete(
                    program.origin,
                    program.status,
                    program.funder?.id
                  )
                "
                (click)="this.onDelete(program.id)"
              >
                <mat-icon>delete</mat-icon>
                <span>{{ BUTTON_LABELS.DELETE }}</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumnsWithMenu"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumnsWithMenu"
          [routerLink]="[row.id]"
          class="clickable-row"
        ></mat-row>
      </mat-table>

      <mat-paginator
        [pageSizeOptions]="[10, 20, 30]"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
